@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";


@theme {
    --color-charcoal: oklch(18.22% 0 0);
    --color-whity: oklch(95.69% 0.0197 315.67);
    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}


@layer base {

    html,
    body {
        font-family: var(--font-poppins);
    }
}

/* 
@property --before-bg {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0 0 0 / 0);
} */


.txt {
    position: relative;
    overflow: hidden;
}

.txt::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    /* background: radial-gradient(oklch(82.734% 0.25487 144.57), transparent, transparent);  */
    background: radial-gradient(var(--before-bg), transparent, transparent);
    opacity: 0;
    transition: opacity 0.5s;
}

.txt:hover::before {
    opacity: 1;
}

.txt::after {
    content: '';
    position: absolute;
    inset: 2px;
    backdrop-filter: blur(20px);
}